{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Lorem ipsum{% endblock %}
{% block content %}

<img src="{% static "protoapp/image/semaphore.jpg" %}" width="144" 
     alt="semaphore" />

<h2>Lorem ipsum</h2>

<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque lacinia,
mi eget facilisis suscipit, lacus nisi euismod mauris, nec dapibus felis
enim nec augue. Aliquam erat volutpat. Aenean commodo neque nisi, id
placerat diam euismod eu. Nam erat tortor, rutrum at nulla eu, interdum
lobortis lectus. Vestibulum lectus turpis, finibus ac magna a, pharetra
malesuada magna. Phasellus eu maximus dui. Morbi consequat nunc ac
semper hendrerit. Morbi non fermentum erat. Suspendisse fermentum elit
neque, at rhoncus turpis scelerisque non. Etiam et efficitur sapien.
Pellentesque mollis, erat in blandit vestibulum, leo lacus accumsan
nunc, eget pellentesque dolor arcu dictum eros. Nam elementum ac nibh
vel varius. Proin lobortis diam a est convallis, quis viverra sapien
porta. Nam semper pharetra nisi vel blandit. Duis egestas non lorem
eget ultricies.
</p>

<p>
Praesent purus purus, volutpat vel ipsum sed, dapibus eleifend eros.
Maecenas accumsan, neque ac congue lacinia, justo urna condimentum
lectus, a bibendum felis magna et sapien. Sed ac justo imperdiet,
dignissim est quis, blandit nibh. Fusce vulputate, eros id ornare
sagittis, mi quam congue nisl, eu varius quam odio et libero. Nulla
placerat nibh eu laoreet euismod. Morbi ullamcorper ipsum id fringilla
commodo. Maecenas metus lorem, tincidunt ullamcorper enim at, finibus
venenatis nunc. Maecenas aliquet malesuada dignissim. Duis mollis quam
felis, sit amet auctor justo ultrices ultricies. Sed vitae mollis mi.
Maecenas a tempor est. Fusce mattis pretium quam.
</p>

<p>
Pellentesque quis erat purus. Maecenas blandit dignissim nunc nec
sollicitudin. Phasellus lacinia tincidunt augue, ac interdum velit
ullamcorper eget. Mauris pellentesque maximus est, eu tristique leo.
Nulla at auctor velit, pellentesque dictum eros. Pellentesque habitant
morbi tristique senectus et netus et malesuada fames ac turpis egestas.
Vestibulum maximus euismod lorem, sed aliquet quam. In volutpat suscipit
velit blandit pellentesque. Praesent odio ante, accumsan vitae massa
ac, egestas placerat turpis.
</p>

<p>
Nullam in leo tortor. Etiam rutrum ornare risus, quis maximus ex dictum at. Nullam rutrum porta augue in facilisis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec ac nibh leo. Sed eleifend quam ac ultricies volutpat. Praesent gravida, elit ornare euismod eleifend, nisl mauris fermentum nisl, a tristique lacus turpis a tortor. Quisque tempus lacus sapien, nec pretium tortor pretium et.
</p>

<p>
Sed et odio mauris. Nam tempor orci nibh, at rutrum lacus fermentum
sed. Aliquam ut consequat urna. Proin quis lacinia mi, eu vehicula
nisi. Sed ac rhoncus ante. Donec eu odio ut turpis interdum aliquet
ac ac justo. Sed vitae vulputate mi. Vivamus venenatis dui ut purus
pellentesque, sed facilisis nulla sagittis. Duis id accumsan nisi.
Curabitur et magna justo. Pellentesque sed urna finibus, pulvinar
felis sed, bibendum tellus.
</p>

<p>
Suspendisse et arcu in erat interdum fringilla. Vestibulum scelerisque
a arcu sit amet faucibus. Sed consequat pretium lectus, non pulvinar
odio aliquam in. Phasellus porttitor purus purus, vitae congue lacus
mollis id. Mauris ac lorem tellus. Aenean sem justo, efficitur quis
est eget, fringilla pharetra mauris. Duis rutrum bibendum orci, at
convallis ante egestas vitae. Sed at congue eros, quis molestie
tellus. Sed ipsum risus, interdum non suscipit et, pharetra quis leo.
Donec in quam pellentesque, dictum sem et, elementum enim. Sed sit
amet orci et diam viverra cursus eu id dui. Fusce at nunc in mauris
gravida vestibulum. Aliquam lacus velit, pellentesque a metus non,
aliquam faucibus elit. Ut interdum augue eu sem vehicula, ut dapibus
velit mattis.
</p>

<p>
Nullam non hendrerit neque. Sed laoreet sapien at diam imperdiet, a
efficitur justo interdum. Aenean facilisis aliquet urna, at porttitor
ipsum sagittis in. Integer bibendum dui ornare tortor aliquet luctus.
Nulla non aliquam ex. Etiam neque nulla, lacinia id accumsan sit amet,
bibendum at sapien. Etiam at egestas nisl. Aliquam scelerisque, diam
sed dignissim vestibulum, risus nisl ullamcorper leo, eu molestie ex
eros venenatis justo. Duis lectus neque, pulvinar ac mauris in,
gravida lobortis orci.
</p>

<p>
Aenean nibh nisi, efficitur eget facilisis ut, mollis vitae nisl.
Vestibulum ac odio bibendum, convallis odio nec, mollis risus. Duis
in est id neque accumsan ultrices. Donec ac neque vel dui interdum
elementum. Donec sit amet dictum ante. Duis pharetra ultricies erat
sed viverra. Integer eu tempus sapien. Proin ac posuere felis. Donec
fringilla molestie mattis. Aliquam erat volutpat. Praesent vulputate
facilisis ipsum, vitae lobortis nibh sollicitudin a. Etiam aliquam
metus magna, vel suscipit lectus iaculis vitae. Nunc euismod lectus
nec ipsum aliquam, facilisis eleifend nisi ultricies. Phasellus
libero elit, ornare quis fringilla ac, efficitur vitae nisl.
</p>

<p>
Ut id bibendum tellus. Aenean dapibus elit ac dolor sollicitudin
condimentum. Quisque odio diam, cursus vel nisl in, lacinia luctus
elit. Proin eget consequat nulla. Sed sit amet placerat nisi, sed
porta lacus. Pellentesque vestibulum metus felis, id rutrum tellus
volutpat in. Nam lacinia venenatis leo, sed dictum eros sodales et.
Vestibulum ultricies condimentum urna, non euismod metus pharetra eu.
Cras blandit posuere leo at iaculis. Vestibulum in sem sit amet tellus
mollis pulvinar.
</p>

<p>
Quisque euismod nunc in turpis cursus egestas. Vestibulum tempor risus
id enim euismod gravida tristique ac felis. Sed vestibulum elit dolor,
iaculis blandit augue auctor at. Mauris pharetra condimentum ex sit
amet lacinia. Integer at ligula nisi. Duis vel tortor gravida, feugiat
risus elementum, finibus ante. Praesent eleifend interdum felis, et
convallis est. Vestibulum vulputate purus ut varius auctor. Sed hendrerit
sit amet velit et dictum. Morbi scelerisque libero quis dolor rutrum
pulvinar. Nulla ac ligula placerat, vestibulum ante eu, vestibulum
turpis. Suspendisse sodales, erat a tempor condimentum, purus nibh
aliquam nulla, in luctus dui odio vitae erat. Sed eget augue a urna
vehicula vulputate. Curabitur volutpat eros urna, sed dignissim auguer
posuere et.
</p>

<p>
In hac habitasse platea dictumst. Quisque quis arcu sed massa
fermentum convallis eget eget diam. Maecenas a dui ut ex semper
sollicitudin ac at dui. Aenean eleifend nibh non metus semper gravida.
Vivamus venenatis quam non tempus tristique. Fusce et tortor sed odio
ornare vulputate. Sed lobortis a sem et placerat. Suspendisse maximus
tincidunt turpis et elementum. Pellentesque habitant morbi tristique
senectus et netus et malesuada fames ac turpis egestas. Aliquam erat
volutpat. Ut tortor risus, rhoncus vel lacus eget, aliquam aliquam
tellus. Nunc aliquam ante augue. Vivamus sed commodo sapien. Duis nec
ligula at purus lobortis ultricies ac vitae sapien. Donec at nulla in
urna elementum eleifend vitae eget diam.
</p>

<p>
Phasellus sagittis lorem elementum pretium pellentesque. Vivamus
rhoncus porta eros, in pellentesque risus vestibulum a. Sed quis
tempus orci. Morbi a justo ut augue aliquet varius. Suspendisse
euismod turpis venenatis mauris egestas, id blandit enim efficitur.
Nulla ullamcorper ex tellus, id eleifend velit auctor et. Curabitur
sapien felis, blandit vitae quam et, suscipit efficitur nisl. Proin
pellentesque molestie eros, vel finibus ex congue vel. Suspendisse
ornare, turpis nec vestibulum aliquet, urna dolor lacinia libero,
a condimentum magna nisi at sapien.
</p>

<p>
Phasellus sit amet dui id nisl posuere porttitor et ac massa. Maecenas
in nisl eleifend, eleifend quam nec, sodales elit. Suspendisse lectus
nisl, vehicula eget aliquet ac, hendrerit eget mi. Proin tempus
faucibus faucibus. Aenean eget mi volutpat ipsum posuere feugiat ut
ultricies neque. Phasellus sagittis auctor sem consectetur laoreet.
Maecenas id lobortis nulla. Integer varius fermentum nibh, a lacinia
magna laoreet nec. Suspendisse potenti. Mauris id congue ex, eu accumsan
mi. Nullam sodales justo eget nunc aliquam, vel scelerisque sapien
venenatis. Nam tempus venenatis interdum. Pellentesque maximus vitae
lacus ut egestas.
</p>
{% endblock %}
